/*******************************************************************************************************************************************
                                                        CABEZOTE
*******************************************************************************************************************************************/

#cabezote{
    height: 50px;
    width: 100%;
    top: 5px;
    position: relative;
    background-color: #01B4ED;
    z-index: 1000;
    display: none;
    position:relative;
    -webkit-box-shadow: 0px 6px 23px 0px rgba(133,129,133,1);
    -moz-box-shadow: 0px 6px 23px 0px rgba(133,129,133,1);
    box-shadow: 0px 6px 23px 0px rgba(133,129,133,1);
}


#menuHamburguesa{
    width: 28px;
	height: 100%;
	float: left;
	background: url(../imagenes/tres_r.png) no-repeat;
	background-position: center;
	background-size: 90% auto;
	right: 5%;
	position: absolute; 
	display:none;
}
#menuHamburguesa:hover{
	cursor:pointer;
}

#logoSicoleHeader{ 
    width: 80px;
	height: 90%;
	position: relative;
	float: left;
	margin-left: 1%;
	margin-top: 4px;
	background: url(../imagenes/logo_cabezote.png) no-repeat;
	background-position: center;
	background-size: 85% auto;
}

/*******************************************************************************************************************************************
                                                        BARRA DE BÚSQUEDA
*******************************************************************************************************************************************/


#panel {
	width: 100%;
	height: 30px;
	float: left;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #555;
	position: absolute;
	z-index: 1000;
	border: solid 1px #01B4ED;
	background-color: white;
	margin-top: 8px;
}

#tipoDeBusqueda{
    
    height: 100%;
    width:14%;
    border-radius: 6px 0 0 6px;
    background-color: #CCC;
    background: -webkit-linear-gradient(#EEE, #B4B4B4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEE, #B4B4B4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEE, #B4B4B4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEE, #B4B4B4); /* Standard syntax */
    float:left;
    
}
#tipoDeBusqueda:hover{
	cursor: pointer;
}

.inputBusqueda{
    height: 62%;
    width: 96%;
    /*background-color: #D0EBFD;*/
    border-radius: 0px;
    padding: 1.9%;
    border: none;
    float: left;
    padding-right: 2%;
    border-radius: 6px;
}


@media only screen and (min-width:500px){
    
    .inputBusqueda{
    
        font-size:1rem
    }
}


@media only screen and (max-width:500px){
    
    .inputBusqueda{
    
        font-size:0.9rem
    }
}


.inputBusqueda::-webkit-input-placeholder {
        color:#0D556A;
    }

.inputBusqueda::-moz-placeholder {  /* Firefox 19+ */
        color:#0D556A;  
}

.inputBusqueda::-ms-input-placeholder {  
        color:#0D556A; 
}

.inputBusqueda:: input-placeholder {  
        color:#0D556A;  
}





#botongps{
    width: 100%;
    height: 40px;
    background-image: url(../imagenes/gps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    border-radius: 0 6px 6px 0;
}

#botongps:hover{
    cursor: pointer;
}

#desplegarBttn{
   
    height: 100%;
    width: 27%;
    background-image: url(../imagenes/flecha_azul.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 35%;
    margin-left: 9%;
    float: left;
    
}

#logoBusqueda{
    
    height: 100%;
    width: 57%;
    background-image: url(../imagenes/geop_ico.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    float: left;
    margin-left: 4%;
}
   
#ventanaTipoBusqueda{
    width:20%;
    height:auto;
    display:none;
    z-index: 1200;
	position: absolute;
}



#ventanaTipoBusqueda ul{
    width: 100%;
	height: auto;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}


#ventanaTipoBusqueda li{
    
    width:100%;
    background-color: #CCC;
    background: -webkit-linear-gradient(#EEE, #B4B4B4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEE, #B4B4B4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEE, #B4B4B4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEE, #B4B4B4); /* Standard syntax */
    background-color:#9FBE63;
    border-bottom: solid 1px white;
    color:white;
} 

#ventanaTipoBusqueda li:hover{
	cursor: pointer;
}

@media only screen and (min-width:500px){
    
    #ventanaTipoBusqueda{
        margin-left: 320px;
    }
    
    #ventanaTipoBusqueda li{
        
        height: 45px;;
    }
}

@media only screen and (max-width:500px){

    #ventanaTipoBusqueda{
        margin-top: 11%;
        margin-left:-8%;
    }
    
    #ventanaTipoBusqueda li{
        
        height: 50px;
    }
}

.imagenTipoBusqueda{
	width: 10%;
	height: 100%;
	margin-left: 3%;
	background-image: url(../imagenes/geop_ico.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;    
}


.textoTipoBusqueda{
	width: 80%;
	height: 100%;
	color: #333;
	text-align: left;
	float: left;
	margin-left: 5%;    
}


@media only screen and (min-width:500px){
    
    .textoTipoBusqueda{
        line-height: 45px;
		font-size: 0.9rem;
    }
    
    .imagenTipoBusqueda{
        
        background-size: 100% auto;
    }
}

@media only screen and (max-width:500px){
    
    .textoTipoBusqueda{
        line-height: 50px;
        font-size: 0.9rem;
    }
    
    .imagenTipoBusqueda{
        
        background-size: 130% auto;
    }
}

@media only screen and (max-width:350px){
    
    .textoTipoBusqueda{
        line-height: 50px;
        font-size: 0.8rem;
    }
    
    .imagenTipoBusqueda{
        
        background-size: 140% auto;
    }
}

/*******************************************************************************************************************************************
                                                        Menús Desplegables
*******************************************************************************************************************************************/
.menusDesplegables{
    
    width: 20px;
    height: 120px;
    position:absolute;
    z-index: 100;
    top: 40%;
    background-color: #02b5ef;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 23%;
    display:none;
}

.menusDesplegables{
	cursor: pointer;
}
/**********************************************************************************************************************************************
                                                        Menu Despliegue Izquierda
**********************************************************************************************************************************************/

#menuDesplegableIzq{
    
    left:0;
    background-image: url(../imagenes/flecha_menu_1.png);
    border-radius: 0 12px 12px 0;    
    -webkit-box-shadow: 4px 2px 23px 6px rgba(130,130,130,1);
    -moz-box-shadow: 4px 2px 23px 6px rgba(130,130,130,1);
    box-shadow: 4px 2px 23px 6px rgba(130,130,130,1);
}


.categoria{
    width: 91%;
    overflow: hidden;
	border-bottom: #999 solid 2px;
    padding-bottom: 1%;
}
.categoria:hover{
	cursor: pointer;
	background-color: #EEE;
}

.categoria img{
    
    width: auto;
    height: 100%;
    float: left;
    
}

.textoCategorias{
    text-align: left;
    color: #444;
    float: left;
    font-weight: 600;
	width: 62%;
	overflow-x: hidden;

}

.trianguloVerde{
	width: 30px;
	height: 30px; 
	background: url(../imagenes/trianguloVerde.png) no-repeat;
	background-position: center;
	background-size: auto 75%;	
}

@media only screen and (min-width:1360px){
	.trianguloVerde{
		margin-left: 91%;
	}	
}

@media only screen and (max-width:1360px){
	.trianguloVerde{
		margin-left: 88%;
	}	
}

#pieIzquierda{
	width: 100%;
	height: 75px;
	position: absolute;
    bottom: 70px;
}

#sectores{
	width: 100%;
	height: 53%;
	background-color: white;
	/*-webkit-box-shadow: -1px -4px 25px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -4px 25px -5px rgba(0,0,0,0.75);
	box-shadow: -1px -4px 25px -5px rgba(0,0,0,0.75);*/
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 93%, #b3b1af 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(93%, #ffffff), color-stop(100%, #b3b1af));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 93%, #b3b1af 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 93%, #b3b1af 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 93%, #b3b1af 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 93%, #b3b1af 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b3b1af', GradientType=0 );
}
#sectoresTexto{
	width:50%;
	height:100%;
	display:flex;
	float:left;
}

#sectoresTexto p{
	margin: auto;
	font-size: 0.9rem
}
.sectoresCheck{
	width: 90%;
    height: 70%;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
}
.checktexto2{
	font-size: 0.9rem;
	margin-top: 0%;
	margin-left: 7%;
	position: absolute;
    
    
}

.imagenSectores{
	width: 20px;
	height: 20px;
	background: url(../imagenes/oficial.png) no-repeat center;
	background-size: auto 100%;
	position: absolute;
}

#cambiarMapa{
	width: 100%;
	height: 35%;
	background-color: white;
    border-top: 2px solid rgba(0,0,0,0.2);
}

@media only screen and (min-width:1000px){
	.imagenSectores{
		right: 64%;
	}
	
	#imagenNoOficial{
		right: 15%
	}
}

@media only screen and (max-width:1000px){
	.imagenSectores{
		right: 60%;
	}
	
	#imagenNoOficial{
		right: 6%
	}
}

@media only screen and (max-width:830px){
	.imagenSectores{
        right: 70%;
	}
	
	#imagenNoOficial{
		right: 6%;
	}
}


@media only screen and (max-width:660px){
	.imagenSectores{
		left: 74%;
	}
	
	#imagenNoOficial{
		right: 21%;
	}
}
/**********************************************************************************************************************************************
                                                        Menu Despliegue Derecha
**********************************************************************************************************************************************/


#menuDesplegableDer{
    right:0;
    background-image: url(../imagenes/flecha_menu_2.png);
    border-radius: 12px 0 0 12px;
    -webkit-box-shadow: -2px 1px 23px 6px rgba(130,130,130,1);
    -moz-box-shadow: -2px 1px 23px 6px rgba(130,130,130,1);
    box-shadow: -2px 1px 23px 6px rgba(130,130,130,1);
}

#tituloColegiosCercanos{
    margin: 15% 0 0 5%;
    color: #333;
}

#contenedorColegiosCercanos{
    width: 95%;
    height: 90%;
    margin-left: 5%;
    overflow-y:scroll;
}

#lineaTitulo{
    
    width:60%;
    height:auto;
    border-bottom: solid 1px #333;
    margin:1% 0 0 5%;
}

.contenedorColegio{
    width:100%;
    height: auto;
    margin-top: 7%;
}

.tipoColegio{
    width: 8%;
    background-image: url(../imagenes/oficial.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 2%;
}

.infoColegio{ 
    margin-left:13%;
    width: 80%;
    height: auto;      
}

.infoColegio h3{
    color: #03738B;
}



.distanciaColegio{
    margin-top: -5%;
    color: #03738B;
}



.cambiarMapaMenu{
	width: 50%;
	height: 100%;
	float:left;
	display: flex;
	background: rgba(140,136,140,1);
	background: -moz-linear-gradient(left, rgba(140,136,140,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 96%, rgba(140,136,140,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(140,136,140,1)), color-stop(4%, rgba(255,255,255,1)), color-stop(96%, rgba(255,255,255,1)), color-stop(100%, rgba(140,136,140,1)));
	background: -webkit-linear-gradient(left, rgba(140,136,140,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 96%, rgba(140,136,140,1) 100%);
	background: -o-linear-gradient(left, rgba(140,136,140,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 96%, rgba(140,136,140,1) 100%);
	background: -ms-linear-gradient(left, rgba(140,136,140,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 96%, rgba(140,136,140,1) 100%);
	background: linear-gradient(to right, rgba(140,136,140,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 96%, rgba(140,136,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c888c', endColorstr='#8c888c', GradientType=1 );
}
.cambiarMapaMenu:hover{
	cursor:pointer;
}

.activoMapa{
	background: rgb(201, 201, 201);;
	color: #B6134E;
}

.cambiarMapaMenu p{
	margin: auto;
	font-size: 0.9rem
}

#contenedorFuncionalidades{
	width:100%;
	overflow-y: auto;
} 





@media only screen and (min-width:1200px){
    .ventanaCategorias{
        width: 25%   
    }
    .categoria{
        height: 35px;
        margin: 5% 0 0 5%;
    }
    
    .textoCategorias{
        font-size: 1rem;
        line-height: 32px;
        margin-left: 7%;
    }
    
    .categoria:first-child{
        margin-top:12%;
    }
    
    .menusDesplegables {
       width: 20px;
	   height: 120px;
    }
    
}

@media only screen and (max-width:1200px){
	.ventanaCategorias{
        width: 31%   
    }
	 .categoria{
        height: 35px;
        margin: 5% 0 0 5%;
    }
    
    .textoCategorias{
        font-size: 0.9rem;
        line-height: 32px;
        margin-left: 7%;
    }
    
    .categoria:first-child{
        margin-top:12%;
    }
    
    .menusDesplegables {
          width: 20px;
        height: 120px;
    }
}

@media only screen and (max-width:800px){
	.ventanaCategorias{
        width: 60%   
    }
}

@media only screen and (max-width:660px){
    .ventanaCategorias{
        width: 70%   
    }
    .categoria{
        height: 45px;
        margin: 5% 0 0 5%;
    }
    
    .textoCategorias{
        font-size: 0.95rem;
        line-height: 45px;
        margin-left: 4%;
    }
    
    .categoria:first-child{
        margin-top:20%;
    }
    
    .menusDesplegables {
        width: 20px;
        height: 100px
    }
    
}
@media only screen and (max-width: 350px){
    .ventanaCategorias{
        width: 70%   
    }
    .categoria{
        height: 40px;   
    }
    
    .textoCategorias{
        font-size: 0.8rem;
        line-height: 40px;
        margin-left: 4%;
    }
    .categoria:first-child{
        margin-top:20%;
    }
}


/**********************************************************************************************************************************************
                                                        Menu Despliegue Derecha
**********************************************************************************************************************************************/



#tituloColegiosCercanos{
    margin: 15% 0 0 5%;
    color: #333;
}

#contenedorColegiosCercanos{
    width: 95%;
    height: 90%;
    margin-left: 5%;
    overflow-y:scroll;
}

#lineaTitulo{
    
    width:60%;
    height:auto;
    border-bottom: solid 1px #333;
    margin:1% 0 0 5%;
}

.contenedorColegio{
    width:100%;
    height: auto;
    margin-top: 7%;
}

.contenedorColegio{
	cursor: pointer;
}

.tipoColegio{
    width: 8%;
    background-image: url(../imagenes/oficial.png);
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	float: left;
	margin-top: 2%;
}

.infoColegio{ 
    margin-left:13%;
    width: 80%;
    height: auto;      
}

.infoColegio h3{
    color: #03738B;
}



.distanciaColegio{
    margin-top: -5%;
    color: #03738B;
}

.colegioAgregado{
	font-size: 0.9rem;
	font-weight: bold;
	color: #666;
	width:85%;
	margin: 3% 0 4% 0;
}

.imagenControlSede{
	position: absolute;
	width: 5%;
	right: 12%;
	margin-top: -3px;
}
.imagenControlSede:hover{
	cursor:pointer;
	
}


#scrollBajar{
    position:absolute;
    width: 100%;
    height: 7%;
    background: url(../imagenes/scroll1.png) no-repeat center bottom white;
    background-size: 13% auto;
    left:0;
}

#scrollSubir{
    position:absolute;
    width: 100%;
    height: 10%;
    background: url(../imagenes/scroll2.png) no-repeat center bottom white;
    background-size: 13% auto;
    left:0;
    top:0;
    display:none;
}
@media only screen and (min-width:500px){

    .distanciaColegio {
        font-size: 0.9rem;
    }
    
    .direccionColegio{
        font-size: 0.9rem;
    }
    
    .infoColegio h3{
        font-size: 0.85rem;
    }
    
    #tituloColegiosCercanos{
          font-size:1.7rem;
    }
    
    .tipoColegio{
        height: 30px;
    }
    
    #scrollBajar{
        bottom: 14%;
    }
}

@media only screen and (max-width:500px){

    .distanciaColegio {
        font-size: 1.3rem;
    }
    
    .direccionColegio{
        font-size: 1.5rem;
    }
    
    .infoColegio h3{
        font-size: 1.5rem;
    }
    
    #tituloColegiosCercanos{
          font-size:2.2rem;
    }
    
    .tipoColegio{
        height: 50px;
    }
    
    #scrollBajar{
        bottom: 14%;
    }
}
@media only screen and (max-width:500px){
    
    .distanciaColegio {
        font-size: 0.9rem
    }
    
    .direccionColegio{
        font-size: 0.8rem;
    }
    
    .infoColegio h3{
        font-size: 0.9rem;
    }
    
    #tituloColegiosCercanos{
          font-size:1.4rem;
    }
    
    .tipoColegio{
        height: 25px;
    }
    
    #scrollBajar{
        bottom: 12%;
    }
}

@media only screen and (max-width:350px){
    
    #tituloColegiosCercanos{
          font-size:1.2rem;
    }
    
}
/**********************************************************************************************************************************************
                                                        Menu Despliegue Abajo
**********************************************************************************************************************************************/

.ventanaCategorias{
    height:100%;
    position:absolute;
    background-color: white;
    z-index:300;
    display:none;
}

#ventanaCategoriasIzq{
    left:0;
     -webkit-box-shadow: 4px 2px 23px 6px rgba(130,130,130,1);
    -moz-box-shadow: 4px 2px 23px 6px rgba(130,130,130,1);
    box-shadow: 4px 2px 23px 6px rgba(130,130,130,1);
}

#ventanaCategoriasDer{
    right:0;
    -webkit-box-shadow: -2px 1px 23px 6px rgba(130,130,130,1);
    -moz-box-shadow: -2px 1px 23px 6px rgba(130,130,130,1);
    box-shadow: -2px 1px 23px 6px rgba(130,130,130,1);
}

#ventanaCategoriasAbajo{
    position: absolute;
    width: 100%;    
    bottom: 30px;
    background-color: #CACACA;
    z-index: 200;
    display: none;
    padding-top: 0.8%;
}

.botonesAbajo{
    height: 81%;
    width: 24%;
    border-radius: 6px;
    background-color: #DBDBDB;
    margin-left: 2%;
    float: left;
    margin-top: 0.5%;
}


#retraer{
    width: 15%;
    height: 100.8%;
    background-color: #01B4ED;
    margin-left: 2%;
    margin-top:-0.8%;
    float: left;
    background-image:url(../imagenes/flechBlanca.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    display:flex;
}

.textoAbajo{
    width: 78%;
    height:100%;
    text-align: center;
    line-height: 30px;
    margin:auto;
}
.imagenesAbajo{
    width:22%;
    height: 100%;
    background-image:url(../imagenes/oficial.png);
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    margin:auto;
}

#imagen2Abajo{
    position: absolute;
    background-image: url(../imagenes/no-oficial.png);
    right: 16%;
    top: 4%;
    width: 10%;
}


@media only screen and (min-width:500px){
    #ventanaCategoriasAbajo{
        height: 45px;
    }
    
    .textoAbajo{
        font-size:1.3rem;
    }
    
    .imagenesAbajo{
        background-size: 80% auto;
    }
    
    #imagen2Abajo{
        background-size: 40% auto;
    }
    
    #imagenAuxiliar{
        background-size: 64% auto;
    }
}

@media only screen and (max-width:500px){
    #ventanaCategoriasAbajo{
        height: 35px;
    }
    
    .textoAbajo{
        font-size:0.7rem;
    }
    
    .imagenesAbajo{
        background-size: 105% auto;
    }
    
    #imagen2Abajo{
        background-size: 55% auto;
    }
    
    #imagenAuxiliar{
        background-size: 88% auto;
    }
}

/*******************************************************************************************************************************************
                                                BÚSQUEDA AVANZADA
*******************************************************************************************************************************************/

#busqueda{
    height: 100%;
    width: 23%;	
    position: absolute;
    z-index: 900;
	transition: all 0.5s ease-in-out;
	background-color: #E6E6E6;
	overflow-y: auto;
    overflow-x: hidden;
	-webkit-box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
}

#contenidoBusqueda{
    width:90%;
    height:auto;
    margin-left:5%;
}

#contenidoBusqueda h2{
    
    color:#2B90AB;
    margin-bottom: 3%;
}

#contenidoBusqueda input{
    background-color: #00B5EC;
    border-radius: 6px;
    width: 97%;
    margin-top: 5px;
    color: white;
    padding: 0 4px 0 3%;
    border: none;
}

#selectores{
    width: 100%;
    height: 45px;
}

.textoSelectores{
    
    line-height: 35px;
    padding-right: 10px;
    float: left;      
    font-weight: bold;
    
}

.botonRadio{
  
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    float: left;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.botonRadio label {
    cursor: pointer;
    position: absolute;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.botonRadio label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    background: #9EC314;
    background: #9EC314;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.botonRadio label:hover::after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.botonRadio input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.botonRadio input[type=checkbox] {
    visibility: hidden;
}


.select-style {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.select-style select {
    background-color: #00B5EC;
    border-radius: 6px;
    width: 100%;
    margin-top: 5px;
    color: white;
    padding: 0 4px 0 3%;
    border: none;
}

.select-style select:focus {
    outline: none;
}

.botonesBusqueda{
    width: 40%;
    background-color: #B6134E;
    color: white;
    float: left;
}

.textoBotonesBusqueda{
    text-align: center;
}

@media only screen and (min-width:500px){
    
    #contenidoBusqueda h2{
        font-size: 1.5rem;   
    }
    
    .opcionesBusqueda {
        font-size: 0.9rem;
    }
    
    #contenidoBusqueda input{
        height: 25px;
        font-size: 0.9rem;
    }
    
    .botonRadio{
        width:20px;
        height:20px;
        margin: 2% 0 0 2%;
    }
    
    .botonRadio label {
        width: 15px;
        height: 15px;
        left: 3px;
        top: 3px;
    }
    
    .botonRadio label:after {
		width: 13px;
		height: 13px;
		margin-top: 1px;
		margin-left: 1px;
    }
    
    
    .botonesBusqueda {
        margin-top: 50px;
        height: 50px;
        font-size: 1.7rem;
    }
    
    .textoBotonesBusqueda{
        line-height: 50px; 
    }
    .textoSelectores {
        font-size:0.9rem;   
    }
    .select-style select {
        font-size: 0.9rem;
        height: 25px;
    }
    
}

@media only screen and (max-width:500px){

    #contenidoBusqueda h2{
        font-size: 1.5rem;   
    }
    
    .opcionesBusqueda {
        font-size: 0.83rem;
    }
    
    #contenidoBusqueda input{
        height: 30px;
        font-size: 1rem;
    }
    
    .botonRadio{
        width:20px;
        height:20px;
        margin: 7px auto;
    } 
    
    .botonRadio label {
        width: 15px;
        height: 15px;
        left: 3px;
        top: 2px;
    }
    
    .botonRadio label:after {
        width: 11px;
		height: 11px;
		margin-top: 2px;
		margin-left: 2px;
    }
    
    .botonesBusqueda {
        margin-top: 20px;
        height: 35px;
        font-size: 1rem;
    }
    
    .textoBotonesBusqueda{
        line-height: 35px; 
    }
    
    .textoSelectores {
        font-size: 0.8rem;   
    }
    
    .select-style select {
        font-size:1rem;
        height: 30px;
    }
    
    
}

/**********************************************************************************************************************************************
                                                            BARRA SESIÓN
**********************************************************************************************************************************************/




#barraSesion{   
    height: 100%;
    z-index: 900;
    background-color: white;
    position:absolute;
    right:0;
    top:0;
    display:none;
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000;
}
@media only screen and (min-width:850px){
	#barraSesion{  
		width: 28%;
	}
}

@media only screen and (max-width:850px){
	#barraSesion{  
		width: 50%;
	}
}

@media only screen and (max-width:550px){
	#barraSesion{  
		width: 80%;
	}
}

@media only screen and (max-width:400px){
	#barraSesion{  
		width: 90%;
	}
}



#cambiarmapa{
    height: 45px;
    width: 90%;
    border-bottom: #C4C4C4 solid 4px;
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 16%;
}

#textonmapa{
    line-height: 45px;
    width: auto;
    float: left;
    padding-left: 3%;
}

@media only screen and (min-width:500px){

    #textonmapa{
      font-size: 1.9rem;  
    }
}

@media only screen and (max-width:500px){

    #textonmapa{
      font-size: 1.2rem;  
    }
}


#perfil{
    
    width:100%;
    height:60px;
    display:none;
    padding-bottom: 2%;
    border-bottom: solid 2px #C4C4C4;   
}

#fotoUsuario{
    width: 20%;
    height: 90%;
    margin-top: 2%;
    background: url(../imagenes/bus.png) no-repeat center;
    background-size: auto 100%;
    float: left;
}

#textoUsuario{
    width: 75%;
    height: 80%;
    float: left;
    margin-left: 5%;
}



@media only screen and (min-width:500px){
    
    #textoUsuario{
        margin-top:3%;   
    }
    
    #perfil p{
       font-size:1.3rem;
       margin-top: -6%;
    }
}

@media only screen and (max-width:500px){
    
    #textoUsuario{
        margin-top:6%;   
    }
    
    #perfil p{
       font-size:1rem;
       margin-top: -9%;
    }
}

#nombreUsuario{
    color: #52B8DA !important;
    margin-top:0% !important;
}


/**********************************************************************************************************************************************
                                                    INFORMACIÓN ESPECÍFICA COLEGIO
**********************************************************************************************************************************************/

.selectores{
	width:  20%;
	float: left;
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;
	opacity: 0.6;
	cursor: pointer;
	background-image: -moz-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: -ms-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: -o-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#cbcbcb));
	background-image: -webkit-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: linear-gradient(top, #ffffff, #cbcbcb);
	overflow: hidden;
}

.imagenSelectores{
    width:100%;
    background: url(../imagenes/mananad.png) no-repeat center;
    background-size: auto 130%;

}

#infoColeEsp {
	height: 87%;
		background-color: white;
		-webkit-box-shadow: 0px -8px 15px 0px rgba(117,110,117,1);
		-moz-box-shadow: 0px -8px 15px 0px rgba(117,110,117,1);
		box-shadow: 0px -8px 15px 0px rgba(117,110,117,1);
		position: absolute;
		z-index: 900;
		overflow: hidden;
		display: none;
		right: 0;
		top:55px;

}
@media only screen and (min-width:800px){
	#infoColeEsp {
		width: 26%;
	}
	
	#barraTitulo{
		height: 30px;
		width:100%;
		background-color: #01B4ED;
		float:left;
		margin-top: 3%;
	}
	
	#barraTitulo h1{ 
		text-align: center;
		color: white;
		font-size: 1rem;
		font-weight: bold;
		margin:0;
		line-height: 30px;
	}
	.selectores{
		height:6%;
	}
	
	.imagenSelectores{
		height:60%
	}
}
	
@media only screen and (max-width:800px){
	#infoColeEsp {
		width: 45%;
	}
	
	#barraTitulo{
		height: 30px;
		width:100%;
		background-color: #01B4ED;
		float:left;
		margin-top: 3%;
	}
	
	#barraTitulo h1{ 
		text-align: center;
		color: white;
		font-size: 1rem;
		font-weight: bold;
		margin:0;
		line-height: 30px;
	}
	.selectores{
		height:6%;
	}
	
	.imagenSelectores{
		height:60%
	}
}
@media only screen and (max-width:500px){
	#infoColeEsp{ 
		width: 100%;
	}
	
	#barraTitulo{
		height: 8%;
		width:100%;
		background-color: #01B4ED;
		float:left;
	}
	
	#barraTitulo h1{ 
		text-align: center;
		margin: 0.5% 2%;
		color: white;
		 font-size: 1rem;
	}
	.selectores{
		height:12%;
	}
	
	.imagenSelectores{
		height:70%
	}

}

@media only screen and (max-width:350px){
    
    #barraTitulo h1{ 
        font-size: 0.8rem;
    }
}



.letrasSelectores{
	width: 100%;
	height: 30%;
	text-align: center;
	font-size: 0.6rem;
}

#contenidoInfoCole{
    width: 97%;
    height: 86%;
    background-color: white;
    float:left;
    overflow: auto;
	margin-top:4%;
}
#barraSelectores{
	width: 8%;
	height:100%;
	float: left;
}


.botonesInfoColegios{
    width: 7%;
	height: 17%;
	cursor: pointer;
	background-color: #e9e9e9;
	border-bottom: 1px #333 solid;
	position: absolute;
	border-radius: 0 0 0 40px;
	right: 0;
	display: flex;
	background-position: 80% 94%;
	background-size: 55% auto;
	background-image: url(../imagenes/1web.png);
	background-repeat: no-repeat;
	-webkit-box-shadow: -9px 2px 4px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: -9px 2px 4px -6px rgba(0,0,0,0.75);
	box-shadow: -9px 2px 4px -6px rgba(0,0,0,0.75);
}

#lineaBotones{
    width: 3%;
	height: 83%;
	background-color: #e9e9e9;
	border-bottom: 1px #333 solid;
	position: absolute;
	bottom: 0px;
	right: 0;
	-webkit-box-shadow: -6px 2px 4px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: -6px 2px 4px -3px rgba(0,0,0,0.75);
	box-shadow: -6px 2px 4px -3px rgba(0,0,0,0.75);
}


.campodetextos img{
    height: 30px; 
    float: left;
}

.nombreBoton{
    width: auto;
	height: auto;
	float: left;
	font-size: 0.55rem;
	margin: auto;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	line-height: 0.6rem;
	text-align: center;
	margin:auto;
	
}

@media only screen and (min-width:1300px){
	.nombreBoton{
		margin-top:auto;    
	}

	#unoTexto{
		margin-left: -37%;
	}
	#dosTexto{
		margin-left: -42%;
	}
}

@media only screen and (max-width:1300px){
	.nombreBoton{
		margin-top: 243%;
	}
	#unoTexto{
		margin-left: -60%;
	}
	#dosTexto{
		margin-left: -69%;
	}
}
@media only screen and (max-width:1100px){
	.nombreBoton{
		margin-top: 270%;
	}
}	

@-moz-document url-prefix() {
    .nombreBoton{
        margin-left: -4%;
    }
/*	#unoTexto{
		margin-left: -37%;
	}
	#dosTexto{
		margin-left: -42%;
	}*/
}
/*
@-webkit-document url-prefix() {
	.nombreBoton {
        margin-left: -7%;
    }
}*/


@media only screen and (max-width:350px){
    
    .nombreBoton{
        font-size:0.53rem;   
    }
    
    .letrasSelectores{
        
        font-size: 0.5rem;
    }
}



.contenidoIdentificacion{
    width: 93%;
    height: auto;
    margin-left: 7%;
    margin-top: 5%;
    overflow-y:auto;
    padding-bottom: 3%;
    color:#01B4ED;
    display:none;
}



/**********************************************************************************************************************************************
                                                      IDENTIFICACIÓN
**********************************************************************************************************************************************/

.tituloIdenficacion{
	width: 55%;
	height: auto;
	margin-bottom: 1%;
	color: #318DA6;
	float: left;
	line-height: 1.3rem;
	margin-bottom: 3%;
	margin-top: 3%;
	font-weight:bold
}


@media only screen and (min-width:300px){
    
    .tituloIdenficacion{
        font-size: 1.3rem;
    }
    
}

@media only screen and (max-width:300px){
    
    .tituloIdenficacion{
        font-size: 1.4rem;
    }
    
}

#botonAbrirFoto{
    position: absolute;
    right: 0;
    width: 43%;
    height: 40px;
    background-color: #01B4ED;
    display: flex;
    top: 15%;
}

#imagenAbrirFoto{
    width: 50%;
    height: 100%;
    background: url(../imagenes/ojo.png) no-repeat center;
    background-size: auto 120%;

}

#textoAbrirFoto{
    width:50%;
    height: auto;
    font-size: 0.8rem;
    color: white;
    
}

@media only screen and (min-width:285px){
    
    #textoAbrirFoto{
        line-height: 40px;
    }
}

@media only screen and (max-width:285px){
    
    #textoAbrirFoto{
        line-height: 20px;
    }
}

#popUpFotoCole{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,80,0.6);
    display:none;
}

#ventanaFotoCole{
   width:100%;
   height: 60%;
   background: url(../imagenes/Lighthouse.jpg) no-repeat center;
   background-size: auto 50%;        
}

.itemsIdentificacion{
    
    width:100%;
    height:auto;
    margin-top:2%;
    text-align: left;
    line-height: 1.2rem;
}
.subtituloIdenficacion{
    width: auto;
	height: auto;
	font-size: 1.0rem;
	margin-top: 1%;
	font-weight: bold;
	color: #318DA6;
}


.contenidoIdentificacion p {
    margin: 1% 0;
    width: auto;
    overflow: hidden;
    max-width: 93%;
    padding-right:7%;
    color: black;
	font-size: 0.8rem;
}
.infoDonasImagen p{
	line-height: 0.7rem;
	
}

.itemsIdentificacion: first-child{
    margin-top:4%
}

/*******************************************************************************************************************************************
                                                        Características
*******************************************************************************************************************************************/


.listasCaracteristicas{
	width: 85%;
	height: 30px;
	color: #318DA6;
	padding-left: 10%;
	line-height: 30px;
	font-weight: 700;
}

.listasCaracteristicas:hover{
	cursor: pointer;
}

.imagenEstudiantes, .imagenEstudiantes2{
	position: relative;
	height: 100%;
	width: 10%;
	background: url(../imagenes/flecha_azul.png) no-repeat center;
	background-size: auto 75%;
	left: 85%;
	top: -30px;
}


.imagenEstudiantes2 {
    background: url(../imagenes/trianguloabajo.png) no-repeat center;
    background-size: auto 33%;
    left: 89%;
    top: -3%;
}


#plegarNumero{
    background: url(../imagenes/trianguloabajo.png) no-repeat center;
    background-size: auto 30%;
    top: -2px;
}


.tablacarac{
	width: 95%;
	height: 150px;
	overflow: hidden;
	display: none;
}

.columnaSuperior{
    width:95%;
    height:60px;
    background-color: #01B4ED;
}


.columnaSuperior h2{
    margin: 0 0 0 5%;
    color: white;
    line-height: 60px;
    float: left;
    
}

@media only screen and (min-width:500px){
    .columnaSuperior h2{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:500px){
    .columnaSuperior h2{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:500px){
    .columnaSuperior h2{
        font-size: 0.9rem;
    }
}

.filaTabla{
    margin-top: 1%;
    width: 35%;
    height: auto;
    background-color: #01B4ED;
    float: left;
    overflow: hidden;
}

.filaIzq{
    
   background-color:#CDEAFB;
    margin-left: 1%;
    width:59%;
    height:auto;
}

.celdaTabla{
    
    width:100%;
    height:60px;
}

.celdaTabla2{
    
    width:100%;
    height:60px;
}

.celdaImagen{
    width: 25%;
    height: 90%;
    background: url(../imagenes/manana3.png) no-repeat center;
    background-size: auto 47%;
    margin-left: 5%;
    float: left;
}


.celdaTexto{
    height: 60px;
    color: white;
    font-size: 0.9rem;
    line-height: 60px;
    text-align: center;
}

.celdaTexto2{
    height: 60px;
    color: white;
    font-size: 0.9rem;
    line-height: 60px;
    margin-left:13%;
    
}

.celdaTabla p, .celdaTabla2 p{
    margin-left: 15%;
    color: black;
    line-height: 60px;
}


.botonPresionado{
    
    background:#AAA;
    opacity:1;
}

.tresBarras{
	fill: #DDD;

}

.tresBarras:hover {
  fill: #22AACC;
}


.d3-tip {
			line-height: 1;
			font-weight: bold;
			padding: 12px;
			background-color: #336699;
			color: #fff;
			border-radius: 2px;	
			z-index:1000;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#infoSicole p{
	padding: 0 10px;
	margin: 0;
	font-size: 0.75rem;
}

#volverrecorr{
	padding: 0;
}

.colegiosDistancia{
	font-size: 0.8rem;	
}

#busquedacolegio{
	width:84%;
}

#ui-id-1{
	width: 70% !important;
	left:0;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    border:1px solid silver;
    float:right;
    margin-top:11%;
    position:absolute;
    z-index: 999;
    overflow: hidden;
    background-color: white;
	box-shadow: 1px 1px 3px black;
}

#ui-id-1 a{
    
    width:92%;
    font-size:0.8rem;
	padding-top: 12px !important;
	
}

.ui-menu-item:hover{
	background-color: #E0F0FF !important;
}

.imagenUbicador{   
    height: 25px;
    width: 45px;
    float: left;
    background-image: url(../imagenes/ubicador.png);
    background-repeat: no-repeat;
    background-size: 67% auto;
    background-position: top;
    margin-top: -3px;
    margin-left: -2%;
}

.divpresent{
	cursor: pointer;
	height: 80px;
	position:relative;
	overflow: hidden;
	background: #FFF; padding: 15px;
	-moz-box-shadow: 0px 0px 15px #000000;
	-webkit-box-shadow: 0px 0px 15px #000000;
	box-shadow: 0px 0px 15px #000000;
	background-image: -moz-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: -ms-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: -o-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#cbcbcb));
	background-image: -webkit-linear-gradient(top, #ffffff, #cbcbcb);
	background-image: linear-gradient(top, #ffffff, #cbcbcb);'
}

/*********************************************************************************************************************************************************************
																Ventana recuperar contraseña 
*********************************************************************************************************************************************************************/

#atrasRecuperar{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2500;
	display: none;
}
#ventanaRecuperar{
	width: 30%;
	height: auto;
	max-height: 80%;
	overflow-y: auto;
	margin-left: 35%;
	border-radius: 6px;
	background-color: white;
	display: none;
	position:absolute;
	z-index: 2600;
}

#encabezadoRecuperar{
	width: 100%;
	height: 30px; 
	display: flex;
    background-color: #19B3E9;
    border-radius: 6px 6px 0 0;
}

#encabezadoRecuperar h1{
	margin: auto;
	color: white;
	font-size: 1.1rem;
}

#cuerpoRecuperar{
	width: 100%;
	height: auto;
}

#mensajeEnviocorreo p{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 0.9rem;
}

.inputRecuperar{
	width: 68%;
    height: 25px;
    border-radius: 10px 0 0 10px;
    margin-left: 10%;
    background-color: #f7f7f7;
    border: #19B3E9 solid 2px;
    padding: 0 10px;
    color: #777;
	float: left;
}

.inputRecuperar:focus{
	outline:0px;
}

.inputRecuperar::-webkit-input-placeholder {
    color: #777;
}

.inputRecuperar::-moz-placeholder {  /* Firefox 19+ */
    color: #777;  
}

.inputRecuperar::-ms-input-placeholder {  
    color: #777; 
}

.inputRecuperar:: input-placeholder {  
    color: #777;  
}

.botonIrRecuperar{
	width: 29px;
    height: 29px;
    float: left;
	border-radius: 0 8px 8px 0;
    background: url(../images/flecha.png) no-repeat center;
	background-color: #bbb;
    background-size: 75%;
	cursor: pointer;
}



.errorTeclado{
	width: 80%;
    height: 12px;
    float: left;
    color: red;
    margin: 20px 0 4px 12%;
	
}

.errorTeclado p{
	margin: 0 0 8px 0;
    font-size: 0.7rem;
	display: none;
}

#displayMicroAyuda{
    position: absolute;
    display: none;
    width: 25%;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 7px;
    background-color: white;
    margin: 100px 0 0 100px;
    z-index: 2000;
    -webkit-box-shadow: -5px -2px 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px -2px 19px -2px rgba(0,0,0,0.75);
    box-shadow: -5px -2px 19px -2px rgba(0,0,0,0.75);
}

.microAyudaCate{
    margin: 20px;
    display: none;
}

.microAyudaCate p{
    font-size: 0.8rem;   
}

.microAyudaCate h3{
    width:100%;
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
}

.microAyudaCate{
    font-size: 0.8rem; 
}

.fuentesCole {
    width: 95%;
    height: auto;
    font-style: oblique;
    float: left;
    text-align: left;
    font-size: 0.8rem;
    margin-top: 10%;
}

#borrarFiltros{
    border-radius: 4px;
}

#reporteCompleto{
    border-radius: 4px;

}

#descargarReporte{
    border-radius: 4px;
}